body{
    font-family: 'Balsamiq Sans', cursive;
 } 
/* NAVBAR */

.transparent{
    background: rgba(0, 0, 0, 0.5);
}
.navbar-toggler-icon{
    border:5px solid black;
    padding: 30px;
    background-color: #f15025;
}
.nav-link, .navbar-brand{
    color:#f15025 !important;
    font-style: italic;
    font-size: 30px;
}
.navbar a:hover{
    color: whitesmoke !important;
}
/* NAVBAR ENDS */

header{
    height:100vh;
    background:url(header.jpg) fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.banner-center{
    height: 100vh;
    color:whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner-underline{
    width: 300px;
    border:3px solid #f15025;
    margin:0px auto 20px auto;
}
.banner-center a{
    font-size: 30px;
    width:300px;
    margin: 0px auto ;
    display: inline-block;
    border:3px solid whitesmoke;
    color: whitesmoke;
    text-decoration: none;
    border-radius: 20px;
}

.banner-center a:hover,.banner a:focus{
    color:#f15025;
    background-color:whitesmoke;
}
/* END OF BANNER */

/* TITLE */
.title{
    margin:20px 0px;
}


.title-underline{
    width: 150px;
    border:3px solid #f15025;
    margin:0px auto 10px auto;
}

/* END OF TITLE */

/* SKILLS SECTION */
#skills{
    padding: 40px;
    color:#2D3142;
    margin-bottom: 10px;
}

#skills .fa{
    font-size: 100px;
    margin-bottom:10px;
}
#skills a{
    margin-bottom: 10px;
    background-color: #f15025;
    color:whitesmoke;
    font-size: 20px;
}

#skills a:hover{
    background-color: grey;
}

/* ABOUT */

#about{
    background-color: #2D3142;
}
#about .pic {
    height:700px;
    background:url(about.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 600px solid transparent;
    border-left: 100px solid #2D3142;
}

#about .box{
    display: flex;
    flex-direction: column;
    justify-content: center;

}

/* END OF ABOUT SECTION */

/* CONTACT SECTION */
#contact{
    padding: 40px;
    background-color: whitesmoke;
}

#contact .form-control{
    border-radius: 0 !important;
    font-size: 20px;
}
#contact button{
    background-color: #353531;
    font-size: 24px;
    color: #f15025;
}

#contact button:hover{
    background-color: #CED0CE;
}
 /* END OF CONTACT SECTION */ 

 /* FOOTER SECTION  */

#footer{
    padding: 40px;
    color: whitesmoke;
    background-color: #353531;
}
#footer .title-underline{
    margin-bottom: 40px;
}
#footer .footer-icons{
    font-size: 40px;
    padding-top:30px ;
}
#footer .footer-icons a{
    color: deepskyblue;
    text-decoration: none;
}
#footer .footer-icons a:hover{
    color: #f15025;
}
#footer .copyright h3{
    padding: 40px 0;
    color: #ced0ce;
}
 /* END OF FOOTER SECTIOn */